.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

/* Updated style for the new icons */
.featureIcon {
  display: inline-block;
  margin: 1rem 0;
}

.featureIcon img {
  width: 128px; /* Set a fixed width for the images */
  /* width: 50%; */
}

/* Ensure the feature tiles look nice in a grid */
.featureTile {
  padding: 1rem;
}